body{
    margin: 0;
    padding: 0;
}

.navbar{
    padding: 5px;
    display: flex;
    background-color: #b3b3b3;
    align-items: center;
}

.heading{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
}

.heading:hover{
    color: blue;
    transition: 0.5s;
}

.menu{
    display: flex;
    margin-left: 280px;
    align-items: center;
}

.menu-item{
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-item:hover{
    color: red;
    transition: 0.5s;
}

.nav-icon{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.user{
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    left: 300px;
}

.user-btn{
    height: 30px;
    width: 80px;
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
}

.user-btn:hover{
    background-color: black;
    color: white;
    height: 35px;
    border: 2px solid white;
    transition: 1s;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.image{
    margin: 10px;
    height: 500px;
    width: 800px;
    border-radius: 50px;
    box-shadow: -10px 10px 20px 5px black;
}

.text-container{
    display: block;
    margin: auto;
    height: 200px;
    width: 600px;
}

.text{
    font-size: 25px;
}

.main-heading{
    font-family: fantasy;
    color: red;
}

.about-us{
    color: #60609f;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 30px;
    cursor: pointer;
}

.secondary-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.about-container{
    text-align: center;
}

.about-text{
    font-size: 20px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.card{
    background-color: #b3b3b3;
    height: 300px;
    width: 240px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;;
}

.card-img{
    display: block;
    margin: 10px auto;
    height: 280px;
    width: 220px;
}

.name{
    text-align: center;
    font-size: 25px;
}

.book-category{
    margin: 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;
}

.category{
    background-color: #b3b3b3;
    height: 50px;
    width: 180px;
    margin: 10px 15px;
    margin-bottom: 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
}


.category:hover{
    background-color: black;
    color: white;
    border-radius: 40px;
    box-shadow: 2px 2px 30px 5px black;
    transition: 1s;
}

/* footer */

.footer {
    padding: 5px;
    background-color: #b3b3b3;
    color: black;
    max-height: 1000px;
    width: 100%;
}
  
.footer-content {
    color: black;
    width: 90%;
    margin: auto;
}

.footer-heading{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

.footer-heading:hover{
    color: blue;
    transition: 0.5s;
}
  
.footer-container {
    display: flex;
    justify-content: space-evenly;
}
  
.footer-container a {
    text-decoration: none;
}
  
.footer-container a:hover {
    border-bottom: 1px solid #971717;
}

.footer-container p {
    color: black;
}
  
.footer-container h4 {
    font-size: 20px;
}
  
footer {
    text-align: center;
    margin-bottom: 0px;
}

@media screen and (max-width: 500px) {
    .heading{
        font-size: 20px;
    }

    .menu{
        margin-left: 35px;
    }

    .menu-text{
        display: none;
    }

    .nav-icon:hover{
        height: 30px;
        width: 30px;
        transition: 1s;
    }

    .user{
        position: relative;
        left: 25px;
    }
    
    .user-btn{
        display: none;
    }

    .image{
        height: 300px;
        width: 440px;
    }

    .text{
        font-size: 17px;
    }

    .about-text{
        font-size: 17px;
    }

    .category{
        background-color: #b3b3b3;
        height: 40px;
        width: 170px;
        margin: 5px 10px;
        border-radius: 30px;
        font-size: 14px;  
    }

    .category:hover{
        background-color: black;
        color: white;
        border-radius: 40px;
        box-shadow: 2px 2px 30px 5px black;
        transition: 1s;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        font-size: 14px;
      }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
    .heading{
        font-size: 20px;
    }

    .menu{
        margin-left: 100px;
    }

    .menu-text{
        display: none;
    }

    .menu-item{
        margin-right: 30px;
    }

    .nav-icon:hover{
        height: 40px;
        width: 40px;
        transition: 1s;
    }

    .user{
        position: relative;
        left: 100px;
    }
    
    .user-btn{
        display: none;
    }

    .image{
        height: 500px;
        width: 700px;
    }

    .about-us{
        margin-top: 120px;
    }
}

@media screen and (min-width: 769px) {
    .nav-icon{
        display: none;
    }

}